.calculator {
	margin: 0 auto;
	max-width: 400px;
	background-color: grey;
}
.calculator__display {
	font-family: Helvetica, sans-serif;
	display: flex;
	align-items: center;
	background-color: #eee;
}
.calculator__display::after {
	content: "";
	display: block;
	padding-bottom: 25%;
}
.calculator__display-output {
	font-size: 4rem;
	padding: 0 1.5rem;
}
.calculator__buttons {
	display: flex;
	border: 0;
}
.calculator__number-container {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	gap: 1px;
}
.calculator__operator-container {
	display: flex;
	width: 25%;
	flex-direction: column;
	gap: 1px;
}
.calculator__button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
	border: 0;
	font-family: Helvetica, sans-serif;
	font-size: 2rem;
}
.calculator__button--width-third {
	width: calc(33.333333% - 1px);
}
.calculator__button--width-full {
	width: 100%;
}
.calculator__button::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
.calculator__button--color-cobalt {
	background-color: darkgray;
}
.calculator__button--color-orange {
	background-color: orange;
}
.calculator__button--color-lightgray {
	background-color: lightgrey;
}
